.card-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    min-height: 10vh;
}

.card-container:hover {
    cursor: pointer;
}

.date {
    color: #967e76;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}

.event-group {
    display: grid;
    height: 100%;
    margin-top: 5px;
}

@media (min-width: 1200px) {
    .date {
        font-size: 1rem;
    }

    .card-container {
        padding: 10px;
    }
}
