.container {
    height: 90%;
    width: 100%;
    margin-top: 20px;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #967e76;
}

.header-text {
    color: #967e76;
    margin: 5px 0;
    font-weight: 600;
}
