.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-title {
    color: #967E76;
    margin: 0 10px 0 0;
}

.year-container {
    padding: 5px;
    background-color: #967E76;
    border: 1px solid #967E76;
    border-radius: 10px;
}

.year-title {
    color: white;
    margin: 0;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}
